@using Microsoft.AspNetCore.Identity
@using WebStoreManager.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="md-form input-group m-0">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-cyan btn-general m-0 px-4" style="text-transform: none;">Hello @UserManager.GetUserName(User)!</button>
            <button type="button" class="btn btn-cyan m-0 px-3 dropdown-toggle dropdown-toggle-split" style="border-bottom-right-radius: 24px; border-top-right-radius: 24px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" id="logout-dropdown">
                @if ((User.IsInRole("Blogger") || User.IsInRole("SuperAdmin")))
                {
                    <a class="dropdown-item" href="/Blog/Create">Create blog</a>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <a class="dropdown-item" href="/Product/Create">Create product</a>
                    <a class="dropdown-item" href="/Admin/Index">Administrator</a>
                }
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item font-weight-light" id="logout-btn" style="cursor: pointer; padding: 8px; font-size: 15px;">&nbsp;Log out</button>
                </form>
            </div>
        </div>
    </div>

}
else
{

    <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-general login-btn font-weight-bold">Log In</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-general sign-up-btn font-weight-bold">Sign Up</a></li>


}
